@model SporMerkeziIsletmesi.Models.Uye

@{
    ViewData["Title"] = "Profilim";
}

<h2>Profil Bilgilerim</h2>

<table class="table">
    <tr>
        <th>Ad</th>
        <td>@Model.Ad</td>
    </tr>
    <tr>
        <th>Soyad</th>
        <td>@Model.Soyad</td>
    </tr>
    <tr>
        <th>Boy</th>
        <td>@Model.Boy</td>
    </tr>
    <tr>
        <th>Kilo</th>
        <td>@Model.Kilo</td>
    </tr>
</table>
