@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p>  Melih Eröz        B221210400
         Veysel Can Şahin  B211210382
    </p>
</div>
