@model IEnumerable<SporMerkeziIsletmesi.Models.Randevu>

@{
    ViewData["Title"] = "Randevularım";
}

<h2>Randevularım</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Randevu Al</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Antrenör</th>
            <th>Hizmet</th>
            <th>Tarih</th>
            <th>Durum</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Antrenor.Ad</td>
                <td>@item.Hizmet.HizmetAdi</td>
                <td>@item.Tarih</td>
                <td>@item.Durum</td>
            </tr>
        }
    </tbody>
</table>
