@{
    ViewData["Title"] = "Admin Paneli";
}

<h2>Admin Paneli</h2>
<hr />

<ul>
    <li><a asp-controller="Salon" asp-action="Index">Salon Yönetimi</a></li>
    <li><a asp-controller="Hizmet" asp-action="Index">Hizmet Yönetimi</a></li>
    <li><a asp-controller="Antrenor" asp-action="Index">Antrenör Yönetimi</a></li>
    <li><a asp-controller="AntrenorMusaitlik" asp-action="Index">Antrenör Müsaitlikleri</a></li>
    <li><a asp-controller="AntrenorHizmet" asp-action="Index">Antrenör-Hizmet İlişkileri</a></li>
</ul>
